NODE_ENV=PROD
DB_HOST=postgres
DB_PORT=5432
DB_USERNAME=popo
DB_PASSWORD=CHANGE_ME
DB_DATABASE=poposafari
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=CHANGE_ME
API_PORT=9000
SOCKET_PORT=9010
JWT_ACCESS_SECRET=CHANGE_ME
JWT_REFRESH_SECRET=CHANGE_ME
CORS_ORIGIN=https://poposafari.net